#frame {
    left:35%;
    margin-top:10%;
    z-index:0;
    box-sizing: border-box;
    display:block;
    position:relative;
    width:640px;
    height:1000px;
    overflow:hidden;
    border-radius: 15px 15px 0 0;
}

#frame_photo_reel {
    z-index:0;
    font-size:0;
    width:4480px;
    position:absolute;
}

.frame_picture {
    display:inline-block;
    position:relative;
}

#frame_nav {
    font-family: Robato, sans-serif;
    color:white;
    background-color:black;
    box-sizing: border-box;
    width: 640px;
    height: 48px;
    display:block;
    border-radius: 0 0 15px 15px;
    top:480px;
    position:relative;
    padding-left: 130px;
}

.frame_nav_button {
    margin: 11px 20px 0 20px;
    width:26px;
    height:26px;
    border-radius: 13px 13px 13px 13px;
    border-color:white;
    background-color:lightgrey;
    display: inline-block;
}


.frame_nav_button:hover {
    background-color:orange;
}

#frame_slide_left {
    display:block;
    float:left;
    z-index: 1;
    position: absolute;
    font-size: 20pt;
    color: white;
    height: 480px;
    width: 30px;
    padding-top:230px;
}

#frame_slide_right {
    display:block;
    float:right;
    z-index: 1;
    position: absolute;
    font-size: 20pt;
    color: white;
    left:610px;
    height: 480px;
    width: 30px;
    padding-top:230px;
}

#thumbnail {
    visibility: hidden;
    position: absolute;
    display:block;
    z-index: 2;
    width: 128px;
    height: 96px;
    border: 1px solid black;
}